.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;
    width: 280px;

}

.titulo{
    color: #897869;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1;
}

.subtitulo{
    color: #B09A87;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}