.texto{
    display: flex;
    flex-direction: column;

}

.titulo{
    color: var(--brown-600);
    font-size: var(--titulo-size, 2.25rem);
    font-weight: 500;
    line-height: 1;
}

.subtitulo{
    color: var(--brown-550);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}