.link svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.link svg:hover {
  transform: scale(1.1);
}

.portifolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #5A4634;
  min-height: 100vh;
  /* Garante que a página ocupe pelo menos a altura total da viewport */
  width: 100%;
  overflow-x: hidden;
  /* Remove qualquer barra de rolagem horizontal */
  gap: 80px;
}

.header {
  position: -webkit-sticky;
  /* Para Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Garantir que o header fique acima do restante do conteúdo */
  text-align: center;
  font-size: 24px;
  padding: 60px 0px 0px 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  gap: 60px;
}

.container {
  width: 800px;
  height: 450px;
  perspective: 1000px; /* Dá a sensação de profundidade para a rotação */
  border-radius: 16px;
}

.flipCard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flipped {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 30px;
  border: 1px solid red;
  background-color: #F3EDE6;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 30px;
  background-color: #F3EDE6;
  position: relative; /* Garante que o vídeo seja posicionado corretamente */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para o vídeo de fundo */
.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que o vídeo preencha o fundo sem distorcer */
  z-index: -1; /* Coloca o vídeo atrás de qualquer outro conteúdo */
}

.imagem {
  width: 800px;
  height: 450px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
