.portifolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
}

.backButtonContainer {
  width: 80%;
  height: 160px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.backButton {
  position: sticky;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.backButton svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.backButton svg:hover {
  transform: scale(1.1);
}

.timelineContainer {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.timelineLine {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #897869;
}

.timelineItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
  position: relative;
}

.timelinePoint {
  position: absolute;
  left: calc(50% - 8px); /* Centraliza a bolinha em relação à linha */
  top: 0;
  width: 16px;
  height: 16px;
  background-color: #897869;
  border-radius: 50%;
}

.title {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.card {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.titulos {
  /* Estilos para o título */
}

.cards {
  /* Estilos para o card */
}
