.cardsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 24px;
  margin-bottom: 24px;
}

.cardsContainer a:hover {
  opacity: 0.75; 
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
}

.lottie{
  width: 240px;
  margin: 0;
}