.link svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.link svg:hover {
  transform: scale(1.1);
}

.sobremimContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #5A4634;
  min-height: 100vh;
  /* Garante que a página ocupe pelo menos a altura total da viewport */
  width: 100%;
  overflow-x: hidden;
  /* Remove qualquer barra de rolagem horizontal */
}

.header {
  position: -webkit-sticky;
  /* Para Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Garantir que o header fique acima do restante do conteúdo */
  text-align: center;
  font-size: 24px;
  padding: 60px 0px 0px 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  gap: 60px;
  padding-right: 116px;

}

.line {
  margin-top: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 4px;
  background-color: #897869;
  border-radius: 10px;
}

.timelineContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  max-width: 100%;
  /* Garante que o conteúdo não ultrapasse a largura da tela */
}

.timelineItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}



.bullet1 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 292px;
}

.bullet2 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 292px;
}

.bullet3 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 552px;
}

.bullet4 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 292px;
}

.bullet5 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 552px;
}

.bullet6 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 292px;
}

.bullet7 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
}



.titulos {
  margin-top: 254px;
  display: flex;
  flex-direction: column;

}



.cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.bolinhaFinal{
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
}