.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: #F3EDE6;
    border-radius: 16px;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #CDBAA9;
    gap: 30px;
  }
  
  .texto {
    width: 300px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #897869; 
    font-size: 1.125rem; 
    font-weight: 500;
    text-align: justify; 
    line-height: 1.1;
  }

  .imagem{
    background-color: white;
    width: 300px;
    height: 225px;
    border-radius: 12px;
    border: 1px solid #CDBAA9;
  }

  .audio{
    margin-top: 360px;
    width: 80px;
  }

  .audio svg {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .audio svg:hover {
    transform: scale(1.1);
  }



  