.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #D9CBBF; /* Cor principal */
    gap: 16px;

  }
  
  .icon {
    color: #D9CBBF; /* Cor dos ícones */
    text-decoration: none; /* Remove o sublinhado do link */
    cursor: pointer;
  }
  
  .icon:hover {
    color: #C1A994; /* Efeito de hover (opcional) */
  }
  
  .info {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    color: #D9CBBF; /* Cor do texto */
    line-height: 1.6;
    margin-top: -8px;
  }
  

  .ancora {
    color: #D9CBBF; /* Cor padrão */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer;
  }
  
  .ancora:hover {
    color: #C1A994; /* Cor ao passar o mouse */
  }
  
  .ancora:active {
    color: #C1A994; /* Cor ao clicar */
  }
  
  .ancora:focus {
    color: #D9CBBF;
  }
  
  .ancora:visited {
    color: #D9CBBF; /* Cor se o link já foi visitado */
  }
  

  