.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #D9CBBF;
    gap: 16px;

  }
  
  .icon {
    color: #D9CBBF; 
    text-decoration: none;
    cursor: pointer;
  }
  
  .icon:hover {
    color: #C1A994;
  }
  
  .info {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    color: #D9CBBF;
    line-height: 1.6;
    margin-top: -8px;
  }
  

  .ancora {
    color: #D9CBBF; 
    text-decoration: none; 
    cursor: pointer;
  }
  
  .ancora:hover {
    color: #C1A994;
  }
  
  .ancora:active {
    color: #C1A994;
  }
  
  .ancora:focus {
    color: #D9CBBF;
  }
  
  .ancora:visited {
    color: #D9CBBF;
  }
  

  