@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

#root {
  font-family: "League Spartan", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* 1. Estilos globais de body */
body {
  margin: 0;
  padding: 0;
  background-color: #F3EDE9;
  color: #121212;
}

/* 3. Container principal */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
}
