.container {
    width: 342px;
    padding: 20px;
    background-color: var(--brown-100);
    border-radius: 16px;
    border: 1px solid var(--brown-300);
    overflow: hidden;
  }
  
  .certificado {
    margin-right: 20px;
  }
  
  .certificado img {
    height: 160px;
    box-shadow: 0 4px 8px var(--black-alpha-10);
  }
  