.lottie {
  width: 146px; /* Ajuste o tamanho da animação */
  height: 90px;
  margin: 0 auto; /* Centraliza a animação */
}

.lottieLink {
  display: inline-block; /* Torna o link clicável em volta da animação */
  cursor: pointer; /* Mostra um cursor de clique */
  text-decoration: none; /* Remove a decoração de link */
}

.conhecimentosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #5A4634;
  min-height: 100vh; /* Garante que a página ocupe pelo menos a altura total da viewport */
  width: 100%;
  overflow-x: hidden; /* Remove qualquer barra de rolagem horizontal */
}

.header {
  position: -webkit-sticky; /* Para Safari */
  position: sticky;
  top: 0;
  background-color: #ECE4DE;
  z-index: 1000; /* Garantir que o header fique acima do restante do conteúdo */
  text-align: center;
  font-size: 24px;
  padding: 16px 0px;
  width: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 3px;
  background-color: #897869;
  border-radius: 10px;
  margin-top: 104px;
}

.timelineContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  max-width: 100%; /* Garante que o conteúdo não ultrapasse a largura da tela */
}

.timelineItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.bullet1, .bullet2, .bullet3, .bullet4 {
  width: 12px;
  height: 12px;
  background-color: #897869;
  border-radius: 50%;
  margin-bottom: 292px;
}

.fasesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 64px;
}

.fase1, .fase2, .fase3, .fase4 {
  width: 100%;
  height: 240px;
}
